#==============================
# Build directories
#==============================
Debug/
Release/

#==============================
# Generated object files
#==============================
*.o
*.d
*.su
*.map
*.elf
*.hex
*.bin
*.list

#==============================
# STM32CubeIDE temporary files
#==============================
*.launch

#==============================
# Logs
#==============================
*.log

#==============================
# OS files
#==============================
.DS_Store
Thumbs.db

#==============================
# Backup files
#==============================
*~
*.bak